* {
  padding: 0;
  list-style: none;
  margin: 0;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f8f3f0;
  padding: 20px;
  text-align: center;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #333;
  text-decoration: none;
}

/* nav a:hover {
  color: #666;
} */
.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link {
  color: gray;
  justify-content: center;
  align-items: center;
}
.nav-link:hover {
  color: gray;
}

#hero {
  background-image: url("./img/essential-oil-3816410_1920.jpg");
  background-size: cover;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding-bottom: 15em;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fs-2 {
  text-align: center;
}
/* .w-100 {
  max-height: 700px;
  max-width: 700px;
} */

.imgPrice {
  height: 150px;
}
.ms-3 {
  padding: 5px;
}

.whatsapp {
  /* list-style-image: url(./img/whatsapp.svg); */
  width: 25px;
  height: 25px;
  background-image: url(./img/whatsapp.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.facebook {
  /* list-style-image: url(./img/facebook.svg); */
  width: 25px;
  height: 25px;
  background-image: url(./img/facebook.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.instagram {
  /* list-style-image: url(./img/instagram.svg); */
  width: 25px;
  height: 25px;
  background-image: url(./img/instagram.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.messenger {
  /* list-style-image: url(./img/messenger.svg); */
  width: 25px;
  height: 25px;
  background-image: url(./img/messenger.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.maps {
  /* list-style-image: url(./img/geo-alt-fill.svg); */
  width: 25px;
  height: 25px;
  background-image: url(./img/geo-alt-fill.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
ul li:hover {
  cursor: pointer;
}
